<h1>African Queen Kitchen</h1>
<hr>
<p>We are commited to helping you run your events with delicious food options and excellent service!</p>

<div class="cards">
    <div class="card">
        <img src='https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png'>
    </div>
    <div class="card info-card">
        <p>Check out our different menus suited for all kinds of events!</p>
        <button class="btn btn-primary">Menus</button>
    </div>
    <div class="card">
        <img src='https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png'>
    </div>
    <div class="card info-card">
        <p>Take a look at all the events we accomodate!</p>
        <button class="btn btn-primary">Events</button>
    </div>
    <div class="card info-card">
        <img src='https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png'>
    </div>
    <div class="card info-card">
        <p>Leave your events to us!</p>
        <button class="btn btn-primary">Inquire</button>
    </div>
    <div class="card">
        <img src='https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png'>
    </div>
    <div class="card info-card">
        <button class="btn btn-primary">About Us</button>
    </div>
</div>