<div id="<%= dom_id payment %>">
  <p>
    <strong>Payment status:</strong>
    <%= payment.payment_status %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= payment.due_date %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

</div>
